
@{
    ViewBag.Title = "API-DOC";
}






<div class="container mx-auto"><br />
    <h1>API</h1>
    <br /><br />

    <div class="row">
        
        <div class="col-sm-6 pt-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><span class="badge badge-pill badge-secondary mr-2">GET</span>Fornecedores</h5>
                    <p class="card-text">Retorna uma lista de fornecedores em JSON.</p>
                    <div class="form-group">
                        <input type="text" id="disabledTextInput" class="form-control" value="http://localhost:51846/api/export/Fornecedores" disabled>
                    </div>
                    <a href="http://localhost:51846/api/export/Fornecedores" target="_blank" class="btn btn-primary">Testar</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 pt-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><span class="badge badge-pill badge-secondary mr-2">GET</span>Unidades de Medida</h5>
                    <p class="card-text">Retorna uma lista de unidades de medida em JSON.</p>
                    <div class="form-group">
                        <input type="text" id="disabledTextInput" class="form-control" value="http://localhost:51846/api/export/UnidadesMedida" disabled>
                    </div>
                    <a href="http://localhost:51846/api/export/UnidadesMedida" target="_blank" class="btn btn-primary">Testar</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 pt-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><span class="badge badge-pill badge-secondary mr-2">GET</span>Grupos de Produtos</h5>
                    <p class="card-text">Retorna uma lista de grupos de produto em JSON.</p>
                    <div class="form-group">
                        <input type="text" id="disabledTextInput" class="form-control" value="http://localhost:51846/api/export/GruposProduto" disabled>
                    </div>
                    <a href="http://localhost:51846/api/export/GruposProduto" target="_blank" class="btn btn-primary">Testar</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 pt-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><span class="badge badge-pill badge-secondary mr-2">GET</span>Locais de Armazenamento</h5>
                    <p class="card-text">Retorna uma lista de locais de armazenamento em JSON.</p>
                    <div class="form-group">
                        <input type="text" id="disabledTextInput" class="form-control" value="http://localhost:51846/api/export/LocaisArmazenamento" disabled>
                    </div>
                    <a href="http://localhost:51846/api/export/LocaisArmazenamento" target="_blank" class="btn btn-primary">Testar</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 pt-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><span class="badge badge-pill badge-secondary mr-2">GET</span>Marcas de Produto</h5>
                    <p class="card-text">Retorna uma lista de fornecedores em JSON.</p>
                    <div class="form-group">
                        <input type="text" id="disabledTextInput" class="form-control" value="http://localhost:51846/api/export/MarcasProduto" disabled>
                    </div>
                    <a href="http://localhost:51846/api/export/MarcasProduto" target="_blank" class="btn btn-primary">Testar</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 pt-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><span class="badge badge-pill badge-secondary mr-2">GET</span>Perfis de Usuário</h5>
                    <p class="card-text">Retorna uma lista de perfis de usuário em JSON.</p>
                    <div class="form-group">
                        <input type="text" id="disabledTextInput" class="form-control" value="http://localhost:51846/api/export/Perfis" disabled>
                    </div>
                    <a href="http://localhost:51846/api/export/Perfis" target="_blank" class="btn btn-primary">Testar</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 pt-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><span class="badge badge-pill badge-secondary mr-2">GET</span>Produtos</h5>
                    <p class="card-text">Retorna uma lista de produtos em JSON.</p>
                    <div class="form-group">
                        <input type="text" id="disabledTextInput" class="form-control" value="http://localhost:51846/api/export/Produtos" disabled>
                    </div>
                    <a href="http://localhost:51846/api/export/Produtos" target="_blank" class="btn btn-primary">Testar</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 pt-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><span class="badge badge-pill badge-secondary mr-2">GET</span>Usuários</h5>
                    <p class="card-text">Retorna uma lista de produtos em JSON.</p>
                    <div class="form-group">
                        <input type="text" id="disabledTextInput" class="form-control" value="http://localhost:51846/api/export/Usuarios" disabled>
                    </div>
                    <a href="http://localhost:51846/api/export/Usuarios" target="_blank" class="btn btn-primary">Testar</a>
                </div>
            </div>
        </div>


    </div>

</div>

